div.wrapper {
  display: flex;
  justify-content: center;
}

button {
  border: 0;
  background: var(--color-primary-900);
  font-weight: var(--font-weight-bold);
  width: 100%;
  padding: 1.5rem 1rem;
  position: relative;
  text-align: left;
}

button:hover {
  cursor: pointer;
}

ul.options {
  border: 1px solid var(--color-primary-200);
  display: none;
  list-style: none;
  padding: 0;
  margin-top: -4px;
  background-color: var(--color-neutral-900);
}

ul.show {
  display: block;
  position: absolute;
}

ul.options li {
  padding: 6px 10px;
  font-weight: var(--font-weight-bold);
}

ul.options li:active,
ul.options li:focus,
ul.options li:hover,
ul.options li[aria-selected="true"] {
  background: var(--color-primary-200);
  cursor: pointer;
}
