.container {
  display: flex;
  align-items: flex-end;
}
.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.link {
  color: var(--color-neutral-300);
  text-decoration: none;
  padding: 1.5rem 1rem;
  transition: color 0.2s linear;
  position: relative;
  font-weight: var(--font-weight-bold);
  display: inline-block;
}
.link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--color-primary-200);
  content: '';
  transform: scale3d(0, 1, 1);
  transition: transform 0.2 linear;
}
.link:hover {
  color: var(--color-primary-200);
}
.link:hover::after {
  transform: scale3d(1, 1, 1);
}
