.container {
  padding: 1rem;
  margin: 1rem 0 2rem;
  position: relative;
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 5px 2px rgb(0 0 0 / 10%);
}

.container::after {
  width: 1px;
  position: absolute;
  height: 80%;
  content: '';
  display: block;
  right: 0;
  top: 50%;
  background: var(--color-neutral-700);
  filter: blur(2px);
  border-radius: 50%;
  transform: translateY(-50%);
}

.heading {
  height: 70px;
  font-size: 1.2rem;
  font-weight: 600; 
  overflow: hidden;
}

.image {
  max-width: 100%;
}

.description {
  font-size: 0.8rem;
  padding: 0.4rem;
}

.price {
  font-weight: 600;
}

.buynow {
  display: inline-block;
  vertical-align: middle;
  margin: 1rem 0;
  padding: 0.85em 1em;
  border: none;
  border-radius: 0;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
  font-size: 1rem;
  -webkit-appearance: none;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: var(--color-primary-200);
  color: var(--color-neutral-900);
  max-width: 80%;
  min-width: 40px;
}

.buynow:hover {
  background-color: var(--color-primary-100);
}

.icon {
  height: 2rem;
  width: 2rem;
  fill: var(--color-neutral-800);
}

.stripAnchorStyles {
  color: inherit;
  text-decoration: none;
}