.container {
  background: #fff;
  display: grid;
  grid-template-columns: 2fr 5fr 1fr;
  grid-area: header;
  box-shadow: var(--shadow);
  z-index: 1;
}

.navLinks {
  display: flex;
  align-items: center;
}

/* The dropdown container */
.dropdown {
  float: left;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  font-weight: var(--font-weight-bold);
  color: var(--color-neutral-300);
  background-color: inherit;
  padding: 14px 16px;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: var(--color-primary-200);
  color: var(--color-neutral-100);
}

/* Dropdown content (hidden by default) */
.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdownContent a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdownContent a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdownContent {
  display: block;
}