.container {
  background: #fff;
  display: grid;
  grid-template-columns: 2fr 5fr 1fr;
  grid-area: header;
  box-shadow: var(--shadow);
  z-index: 1;
}

.navLinks {
  display: flex;
  align-items: center;
}
