.footerMenu{
  display: flex;
  justify-content: space-around;
  font-weight: var(--font-weight-bold);
  background-color: var(--color-neutral-800);
}

.footerMenu ul{
  display: flex;
}

.footerMenu ul li{
padding-right: 10px;
display: block;
}

.footerMenu ul li a{
  color: var(--color-neutral-100);
  text-decoration: none;
}

.footerMenu ul li a:hover{
  color: var(--color-primary-200);
}